* {
  position: relative;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #404040;
}
.rack {
  display: flex;
  flex-flow: row nowrap;
}
.overview {
  width: 90px;
}
.pads {
  display: flex;
  flex-flow: row wrap-reverse;
  width: 384px;
  margin: 0 6px 6px 0;
  padding: 0;
  font-size: 0;
}
.pad {
  display: flex;
  flex-flow: column nowrap;
  margin: 6px 0 0 6px;
  padding: 0;
  border: none;
  background: #555;
  border-radius: 3px;
  cursor: pointer;
}
.pad-load,
.pad-controls {
  font: 10px sans;
  color: #ddd;
  text-align: center;
  line-height: 18px;
}
.pad-controls {
  display: flex;
  flex-flow: row nowrap;
  height: 18px;
}
.pad-load {
  display: none;
  opacity: 0;
  transition: opacity 0.1s;
}
.pad:hover .pad-load {
  opacity: 0.5;
}
.pad.empty .pad-load {
  display: block;
}
.pad.empty .pad-controls {
  display: none;
}
.pad-play,
.pad-edit,
.pad-mute,
.pad-solo {
  transition: background 0.1s;
}
.pad-edit,
.pad-mute,
.pad-solo {
  opacity: 0;
  transition: opacity 0.1s;
}
.pad:hover .pad-edit,
.pad:hover .pad-mute,
.pad:hover .pad-solo {
  opacity: 0.5;
}
.pad-edit:hover,
.pad-mute:hover,
.pad-solo:hover {
  opacity: 1 dd;
  background: #666;
}
.pad-edit,
.pad-mute {
  border-right: 1px solid #333;
}
.pad-mute,
.pad-solo {
  border-left: 1px solid #666;
}
.pad-play {
  width: 90px;
  height: 42px;
  border-radius: 3px 3px 0 0;
  justify-content: center;
}
.pad-play-icon {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.1s;
}
.pad:not(.empty):hover .pad-play-icon {
  opacity: 0.5;
}
.pad-edit {
  flex-grow: 2;
  border-radius: 0 0 0 3px;
}
.pad-mute {
  flex-grow: 1;
}
.pad-solo {
  flex-grow: 1;
  border-radius: 0 0 3px 0;
}
.editor {
  flex-grow: 1;
  margin: 0 6px 6px 0;
  display: flex;
  flex-flow: column nowrap;
}
.editor-waveform {
  flex-grow: 1;
  background: #222;
  margin-top: 6px;
  border-radius: 6px;
}
.editor-controls {
  display: flex;
  flex-flow: row nowrap;
}
.editor-section {
  font: 10px sans;
  color: #ddd;
  margin-right: 24px;
}
.editor-section-title {
  margin-top: 6px;
  font-weight: bold;
}
.editor-field,
.editor-section-title {
  line-height: 18px;
  height: 18px;
}
.modal {
  position: absolute;
  background: #888;
  height: 300px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s;
}
.modal:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-bottom-color: #888;
  border-width: 12px;
  margin-left: -12px;
}
.modal input {
  line-height: 30px;
  color: #333;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0 6px;
}
.search-results {
  padding: 3px 0;
}
.search-result {
  font-size: 12px;
  text-shadow: 0 1px 1px #aaa;
  line-height: 24px;
  padding: 0 6px;
  cursor: pointer;
}
.search-result:hover {
  background: rgba(255,255,255,0.1);
}
.timeline {
  background: #222;
  margin: 0 6px 6px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: hidden;
  border-radius: 6px;
}
.timeline-cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background: rgba(255,255,255,0.3);
}
.timeline-cursor:after {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-top-color: #888;
  border-width: 6px;
  margin-left: -6px;
}
.timeline-ruler,
.timeline-track {
  width: 100%;
}
.timeline-ruler {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #000;
  height: 24px;
  width: 100%;
  overflow-y: visible;
}
.timeline-ruler-tick {
  height: 100%;
  flex-grow: 1;
  border-left: 1px dashed transparent;
  border-left-color: rgba(127,127,127,0.15);
}
.timeline-ruler-tick:nth-child(2n+1) {
  border-left-color: rgba(127,127,127,0.2);
}
.timeline-ruler-tick:nth-child(4n+1) {
  border-left-color: rgba(127,127,127,0.3);
}
.timeline-ruler-tick:nth-child(8n+1) {
  border-left-color: rgba(127,127,127,0.35);
}
.timeline-track {
  border-top: 1px solid #181818;
  border-bottom: 1px solid #2f2f2f;
  height: 24px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.timeline-track-grid {
  flex-grow: 1;
  border-left: 1px dashed transparent;
  border-left-color: rgba(127,127,127,0.15);
  transition: 0.05s border-left-color;
}
.timeline-track-grid:nth-child(2n+1) {
  border-left-color: rgba(127,127,127,0.2);
}
.timeline-track-grid:nth-child(4n+1) {
  border-left-color: rgba(127,127,127,0.3);
}
.timeline-track-grid:nth-child(8n+1) {
  border-left-color: rgba(127,127,127,0.35);
}
.timeline-track-grid:hover {
  border-left-style: solid;
  border-left-color: #7f7f7f;
}
.timeline-track-grid:hover:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.05);
}
.timeline-track-clips {
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
}
.timeline-track-clip {
  background: #c8c8c8;
  position: absolute;
  height: 100%;
  width: 10px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #cfcfcf;
  border-left-color: #cfcfcf;
  border-right-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.transport {
  background: rgba(255,255,255,0.05);
  padding: 6px;
  display: flex;
  flex-flow: row nowrap;
}
.transport-rewind,
.transport-play,
.transport-record,
.transport-info {
  height: 48px;
  border-radius: 3px;
  background: rgba(255,255,255,0.075);
  margin-right: 6px;
}
.transport-rewind {
  width: 24px;
  margin-left: 12px;
}
.transport-rewind:after {
  bottom: 0%;
  right: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-right-color: rgba(255,255,255,0.075);
  border-width: 24px 12px 24px 12px;
  margin-left: -12px;
}
.transport-rewind:hover {
  background: rgba(255,255,255,0.1);
}
.transport-rewind:hover:after {
  border-right-color: rgba(255,255,255,0.1);
}
.transport-play {
  width: 48px;
  margin-right: 18px;
}
.transport-play:after {
  bottom: 0%;
  left: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-left-color: rgba(255,255,255,0.075);
  border-width: 24px 12px 24px 12px;
}
.transport-play:hover {
  background: rgba(255,255,255,0.1);
}
.transport-play:hover:after {
  border-left-color: rgba(255,255,255,0.1);
}
.transport-record {
  width: 48px;
  border-radius: 100%;
}
.transport-record:hover {
  background: rgba(255,255,255,0.1);
}
.transport-info {
  padding: 0 24px;
  line-height: 48px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #ddd;
  background: rgba(0,0,0,0.1);
}
body {
  border: 24px solid #333;
}
