.timeline {
  background: #222;
  margin: 6px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: hidden;
  border-radius: 6px;
}
.timeline-cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background: rgba(255,255,255,0.3);
}
.timeline-cursor:after {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-top-color: #888;
  border-width: 6px;
  margin-left: -6px;
}
.timeline-ruler,
.timeline-track {
  width: 100%;
}
.timeline-ruler {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #000;
  height: 24px;
  width: 100%;
  overflow-y: visible;
}
.timeline-ruler-tick {
  height: 100%;
  flex-grow: 1;
  border-left: 1px dashed transparent;
  border-left-color: rgba(127,127,127,0.15);
}
.timeline-ruler-tick:nth-child(2n+1) {
  border-left-color: rgba(127,127,127,0.2);
}
.timeline-ruler-tick:nth-child(4n+1) {
  border-left-color: rgba(127,127,127,0.3);
}
.timeline-ruler-tick:nth-child(8n+1) {
  border-left-color: rgba(127,127,127,0.35);
}
.timeline-track {
  border-top: 1px solid #181818;
  border-bottom: 1px solid #2f2f2f;
  height: 24px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.timeline-track-grid {
  flex-grow: 1;
  border-left: 1px dashed transparent;
  border-left-color: rgba(127,127,127,0.15);
  transition: 0.05s border-left-color;
}
.timeline-track-grid:nth-child(2n+1) {
  border-left-color: rgba(127,127,127,0.2);
}
.timeline-track-grid:nth-child(4n+1) {
  border-left-color: rgba(127,127,127,0.3);
}
.timeline-track-grid:nth-child(8n+1) {
  border-left-color: rgba(127,127,127,0.35);
}
.timeline-track-grid:hover {
  border-left-style: solid;
  border-left-color: #7f7f7f;
}
.timeline-track-grid:hover:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.05);
}
.timeline-track-clips {
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
}
.timeline-track-clip {
  background: #c8c8c8;
  position: absolute;
  height: 100%;
  width: 10px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #cfcfcf;
  border-left-color: #cfcfcf;
  border-right-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
