doctype html

html

  head

    title= metadata.name

    link(rel='stylesheet',href='/styles.css')
  body

    script window.HARDMODE = window.session = {};
    script(src='templates.js')
    script
      | window.HARDMODE.TEMPLATES = window.HARDMODE.templatizer;
      | delete window.HARDMODE.templatizer;

    each v, k in using
      script(src='modules/' + k)

    script.
      window.HTMLToDOMNode = function (html) {
        var div = document.createElement('div');
        div.innerHTML = html;
        return div;
      }

    script
      each component in components
        != 'new HARDMODE.' + component.client + '(' + JSON.stringify(component.options)
        each subcomponent in component.components
          != ', new HARDMODE.' + subcomponent.client + '(' + JSON.stringify(subcomponent.options) + ')'
        = ');\n'
