doctype html

html

  head

    title= name

    link(rel='stylesheet',href='/styles.css')

    script window.HARDMODE = {};
    script(src='templates.js')
    script
      | window.HARDMODE.TEMPLATES = window.HARDMODE.templatizer
      | delete window.HARDMODE.templatizer

    each u in using
      script(src='modules/' + u)

    script.
      window.HTMLToDOMNode = function (html) {
        var div = document.createElement('div');
        div.innerHTML = html;
        return div;
      }
      
  body

    script
      |window.HARDMODE.Workspace = [
      each rack in workspace
        | [
        each unit in rack
          each module in unit
            |new HARDMODE.
            =module
            |(),
        | ],
      |];
