body-bg      = #333
body-font    = 10px sans
body-padding = 24px
pad-size     = 90px
pad-spacing  = 6px
pad-round    = 3px
pad-bg       = #555
pad-bg-hi    = #666
pad-text     = #ddd
border-hi    = #666
border-lo    = #333

*
  position   relative
  box-sizing border-box

body
  margin  0
  padding body-padding
  border  0
  background-color body-bg
  //background-image url('bg.png')

