body-bg      = #333
body-font    = 10px sans
body-padding = 24px

*
  position   relative
  box-sizing border-box

body
  margin  0
  padding body-padding
  border  0
  background-color body-bg
  //background-image url('bg.png')

