.editor
  flex-grow 1
  margin    0 pad-spacing pad-spacing 0

  display   flex
  flex-flow column nowrap

.editor-waveform
  flex-grow 1
  background #222
  margin-top pad-spacing
  border-radius 6px

.editor-controls
  display   flex
  flex-flow row nowrap

.editor-section
  font body-font
  color pad-text
  margin-right 4 * pad-spacing

.editor-section-title
  margin-top pad-spacing
  font-weight bold

.editor-field, .editor-section-title
  line-height 18px
  height 18px

.modal
  position      absolute
  background    #888
  height        300px
  border-radius 3px
  box-shadow    0 1px 3px rgba(0,0,0,0.5)
  opacity       0
  transition    opacity 0.5s;
  &:after
    bottom   100%
    left     50%
    border   solid transparent
    content  ' '
    height   0
    width    0
    position absolute
    pointer-events none
    border-color rgba(0,0,0,0);
    border-bottom-color #888
    border-width 12px
    margin-left -12px

.modal input
  line-height 30px
  color #333
  border none
  border-top-left-radius 3px
  border-top-right-radius 3px
  padding 0 6px

.search-results
  padding 3px 0

.search-result
  font-size 12px
  text-shadow 0 1px 1px #aaa
  line-height 24px
  padding 0 6px
  cursor pointer
  &:hover
    background rgba(255,255,255,0.1)

