mixin Timeline(trackCount)
  .timeline
    +TimelineRuler
    - var i = 0
    while i < trackCount
      - i++
      +TimelineTrack(i)
    +TimelineCursor

mixin TimelineRuler
  .timeline-ruler
    - var i = 0
    while i < 16
      .timeline-ruler-tick
      - i++

mixin TimelineTrack
  .timeline-track
    - var i = 0
    while i < 16
      .timeline-track-grid(data-number=i)
      - i++
    .timeline-track-clips

mixin TimelineCursor
  .timeline-cursor
