doctype html

- var PAD_COUNT = 16

html
  head
    link(rel='stylesheet',href='ui.css')
  body
    .rack
      //-.overview
      .pads
        - var pad = 0
        while pad < PAD_COUNT
          - pad++
          .pad
            .pad-play
            .pad-controls
              .pad-edit Edit
              .pad-mute M
              .pad-solo S
      .editor
        .editor-waveform
        .editor-controls
          .editor-section
            .editor-section-title Info
            .editor-field Path
            .editor-field Format
            .editor-section-title Playback
            .editor-field Start
            .editor-field End
            .editor-field Loop
          .editor-section
            .editor-section-title Pitch
            .editor-field Semi
            .editor-field Cent
            .editor-section-title Filter
            .editor-field HP
            .editor-field LP
          .editor-section
            .editor-section-title Output
            .editor-field Pan
            .editor-field Volume
            .editor-field Mute
            .editor-field Solo
