body-bg     = #333
body-font   = 10px sans
pad-size    = 90px
pad-spacing = 6px
pad-round   = 3px
pad-bg      = #555
pad-bg-hi   = #666
pad-text    = #ddd
border-hi   = #666
border-lo   = #444

*
  position   relative
  box-sizing border-box

body
  margin  0
  padding 0
  border  0
  background body-bg

.rack
  display   flex
  flex-flow row nowrap


.overview
  width pad-size


.pads
  display   flex
  flex-flow row wrap-reverse

  width     (pad-size * 4) + (pad-spacing * 4)
  margin    0 pad-spacing pad-spacing 0
  padding   0
  font-size 0

.pad
  display   flex
  flex-flow column nowrap

  margin     pad-spacing 0 0 pad-spacing
  padding    0
  border     none

.pad-controls
  font        body-font
  color       pad-text
  text-align  center
  line-height 18px

  display   flex
  flex-flow row nowrap
  height    18px

.pad-play,
.pad-edit,
.pad-mute,
.pad-solo
  background    pad-bg
  cursor        pointer
  border-top    1px solid border-hi
  border-left   1px solid border-hi
  border-right  1px solid border-lo
  border-bottom 1px solid border-lo
  &:hover
    background pad-bg-hi

.pad-play
  width         pad-size
  height        42px
  border-radius pad-round pad-round 0 0

.pad-edit
  flex-grow 2
  border-radius 0 0 0 pad-round

.pad-mute
  flex-grow 1

.pad-solo
  flex-grow 1
  border-radius 0 0 pad-round 0


.editor
  flex-grow 1
  margin    0 pad-spacing pad-spacing 0

  display   flex
  flex-flow column nowrap

.editor-waveform
  flex-grow 1
  background #ffffdd
  margin-top pad-spacing

.editor-controls
  display   flex
  flex-flow row nowrap

.editor-section
  font body-font
  color pad-text
  margin-right 4 * pad-spacing

.editor-section-title
  margin-top pad-spacing
  font-weight bold

.editor-field, .editor-section-title
  line-height 18px
  height 18px
