doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/style')

  body
    //-script(src='/runtime')
    script(src='/script')
    each script in init
      pre.script(type='application/wisp')!= script
