doctype html

html

  head

    title= title

    link(rel='stylesheet', href='/styles.css')

  body
    p
      | Scripts
      pre= scripts
    p
      | Styles
      pre= styles
    p
      | Init
      pre= styles
