doctype html

html

  head

    title= title

    link(rel='stylesheet', href='/style')

  body
    p
      | Scripts
      pre= scripts
    p
      | Styles
      pre= styles
    p
      | Init
      pre= init

    script(src='/script')
