doctype html
html
  head
    each stylesheet in css
      link(rel='stylesheet',href=stylesheet)
    script window.HARDMODE = {};
    script(src='app/templates.js')
    script
      | window.HARDMODE.TEMPLATES = window.HARDMODE.templatizer
      | delete window.HARDMODE.templatizer
    each script in js
      script(src=script)
  body
