mixin picker(t, l, w, h)

  - var left  = Math.max(3, l - 60) + 'px'
  - var width = (w + 120)           + 'px'
  - var top   = (t + h + 6)         + 'px'
  - var style = 'left:'+left+';top'+top+';width'+width

  .modal(style=style+';opacity:1')
    input(style='width:100%',placeholder='search...')
    .search-results

+picker(t, l, w, h)
