mixin SamplePad
  .pad.empty
    .pad-play
      .pad-play-icon ▶
      .pad-load-icon ☺
    .pad-load Load sample
    .pad-controls
      .pad-edit Edit
      .pad-mute M
      .pad-solo S

mixin SampleEditor
  .editor
    .editor-waveform
    .editor-controls
      .editor-section
        .editor-section-title Info
        .editor-field Path
        .editor-field Format
        .editor-section-title Playback
        .editor-field Start
        .editor-field End
        .editor-field Loop
      .editor-section
        .editor-section-title Pitch
        .editor-field Semi
        .editor-field Cent
        .editor-section-title Filter
        .editor-field HP
        .editor-field LP
      .editor-section
        .editor-section-title Output
        .editor-field Pan
        .editor-field Volume
        .editor-field Mute
        .editor-field Solo

mixin SampleRack(padCount)
  //-.overview
  .rack
    .pads
      - var pad = 0
      while pad < padCount
        - pad++
        +SamplePad
    +SampleEditor

mixin SamplePicker(t, l, w, h)
  - var left  = Math.max(3, l - 60) + 'px'
  - var width = (w + 120)           + 'px'
  - var top   = (t + h + 6)         + 'px'
  - var style = 'left:'+left+';top:'+top+';width:'+width
  .modal(style=style+';opacity:1')
    input(style='width:100%',placeholder='search...')
    .search-results
