body-bg     = #404040
body-font   = 10px sans
pad-size    = 90px
pad-spacing = 6px
pad-round   = 3px
pad-bg      = #555
pad-bg-hi   = #666
pad-text    = #ddd
border-hi   = #666
border-lo   = #333

*
  position   relative
  box-sizing border-box

body
  margin  0
  padding 0
  border  0
  background-color body-bg
  //background-image url('bg.png')

.rack
  display   flex
  flex-flow row nowrap


.overview
  width pad-size


.pads
  display   flex
  flex-flow row wrap-reverse

  width     (pad-size * 4) + (pad-spacing * 4)
  margin    0 pad-spacing pad-spacing 0
  padding   0
  font-size 0

.pad
  display   flex
  flex-flow column nowrap

  margin     pad-spacing 0 0 pad-spacing
  padding    0
  border     none

  background    pad-bg
  //border-top    1px solid border-hi
  //border-bottom 1px solid border-lo
  border-radius 3px

  cursor pointer

.pad-load,
.pad-controls
  font        body-font
  color       pad-text
  text-align  center
  line-height 18px

.pad-controls
  display    flex
  flex-flow  row nowrap
  height     18px

.pad-load
  display    none
  opacity    0
  transition opacity 0.1s
  .pad:hover &
    opacity 0.5

.pad.empty .pad-load
  display block

.pad.empty .pad-controls
  display none

.pad-play,
.pad-edit,
.pad-mute,
.pad-solo
  transition    background 0.1s

.pad-edit,
.pad-mute,
.pad-solo
  opacity    0
  transition opacity 0.1s
  .pad:hover &
    opacity 0.5
  &:hover
    opacity 1dd
    background pad-bg-hi

.pad-edit,
.pad-mute
  border-right  1px solid border-lo

.pad-mute,
.pad-solo
  border-left   1px solid border-hi

.pad-play
  width         pad-size
  height        42px
  border-radius pad-round pad-round 0 0
  justify-content center

.pad-play-icon
  height       42px
  line-height  42px
  font-size    18px
  color       white
  text-align center
  opacity    0
  transition opacity 0.1s

.pad:not(.empty):hover .pad-play-icon {
  opacity 0.5
}

.pad-edit
  flex-grow 2
  border-radius 0 0 0 pad-round

.pad-mute
  flex-grow 1

.pad-solo
  flex-grow 1
  border-radius 0 0 pad-round 0


.editor
  flex-grow 1
  margin    0 pad-spacing pad-spacing 0

  display   flex
  flex-flow column nowrap

.editor-waveform
  flex-grow 1
  background #ffffdd
  margin-top pad-spacing

.editor-controls
  display   flex
  flex-flow row nowrap

.editor-section
  font body-font
  color pad-text
  margin-right 4 * pad-spacing

.editor-section-title
  margin-top pad-spacing
  font-weight bold

.editor-field, .editor-section-title
  line-height 18px
  height 18px

.modal
  position      absolute
  background    #888
  height        300px
  border-radius 3px
  box-shadow    0 1px 3px rgba(0,0,0,0.5)
  opacity       0
  transition    opacity 0.5s;
  &:after
    bottom   100%
    left     50%
    border   solid transparent
    content  ' '
    height   0
    width    0
    position absolute
    pointer-events none
    border-color rgba(0,0,0,0);
    border-bottom-color #888
    border-width 12px
    margin-left -12px

.modal input
  line-height 30px
  color #333
  border none
  border-top-left-radius 3px
  border-top-right-radius 3px
  padding 0 6px

.search-results
  padding 3px 0

.search-result
  font-size 12px
  text-shadow 0 1px 1px #aaa
  line-height 24px
  padding 0 6px
  cursor pointer
  &:hover
    background rgba(255,255,255,0.1)


// TIMELINE

.timeline
  margin-top 24px
  display flex
  flex-flow column nowrap

.timeline-cursor
  position absolute
  top 0
  bottom 0
  left 10px
  width 1px
  background rgba(255,255,255,0.3)
  &:after
    top      0
    left     50%
    border   solid transparent
    content  ' '
    height   0
    width    0
    position absolute
    pointer-events none
    border-color rgba(0,0,0,0);
    border-top-color #888
    border-width 6px
    margin-left -6px

.timeline-ruler,
.timeline-track
  width 100%

.timeline-ruler
  background black
  height 24px
  width 100%

.timeline-track
  border-top    1px solid #181818
  border-bottom 1px solid #2f2f2f
  background #222
  height 36px
  width 100%
