mixin Timeline(trackCount)
  .timeline
    +TimelineRuler
    - var i = 0
    while i < trackCount
      - i++
      +TimelineTrack(i)
    +TimelineCursor

mixin TimelineRuler
  .timeline-ruler
    - var i = 0
    while i < 17
      - i++
      .timeline-ruler-tick

mixin TimelineTrack
  .timeline-track

mixin TimelineCursor
  .timeline-cursor
